.email-preview {
    border-top: 2px solid rgb(197, 189, 189);
    padding: 0.7rem;
    cursor: pointer;
}

.email-preview:hover {
    box-shadow: 0px 1px 2px 0px rgba(31, 29, 29, 0.5);
}

.email-preview>* {
    margin-inline-end: 3rem;
}

.email-preview .sent-at {
    position: absolute;
    right: 1rem;
}

.email-preview .email-to {
    /* position: fixed; */
    flex-basis: 8rem;
}

span.short-body {
    position: fixed;
    margin-left: 30rem;
}


.email-container {
    flex-basis: 100%;
    margin-left: 50px;
}

