.compose-email {
   position: absolute;
    right: 0;
    bottom: 0;
    width: 600px;
    height: 600px;
    box-shadow: 2px 2px 2px 2px rgb(153, 149, 149);
}

.side-nav .email-compose {
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgb(153, 149, 149);
    border: none;
    font-size: 18px;
    border-radius: 35px;
    padding: 0.6rem;
    margin-block-end: 1rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.email-nav-btn {
    border: none;
    background-color: #EDF2FB;
    padding: 0.4rem;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
    flex-direction: column;
}

.email-nav-btn:hover {
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 0px 30px 30px 0px;
    color: rgb(189, 16, 16);
    font-weight: bold;
}

.new-msg {
    background-color: rgba(12, 12, 12, 0.8);
    color: white;
    margin: 0;
    height: 40px;
    display: flex;
    align-items: center;
}

.email-inputs input {
    border: none;
    border-bottom: 1px solid rgb(197, 189, 189);
    flex-basis: 100%;
}

.email-prev-actions {
    padding: 1px;
}

.email-btn-send {
    background: #2b7bf1;
    width: 60px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px 10px 20px;
    margin-top: 80px;
    margin-left: 10px;
}

.email-btn-send:hover {
    background: #3cb0fd;
    cursor: pointer;
}

.email-inputs{
    margin-left: 10px;
}

.email-inputs textarea{
    height: 300px;
}

.compose-email{
    background-color: white;
}