
.keep-app-add-note{
  justify-content: center;
  align-items: flex-start;
  padding: 1em 0 2em 0;
  display: flex;
  gap: 1em;
}

.keep-app-add-note input{
  width: 60em;
}

.keep-app-add-note span{
  display: flex;
  gap: 0.5em;
}

.keep-app-add-note button{
  width: 3em;
  border: #171A21 1px solid;
  background: #B6CCFE;
  border-radius: 5px;
}

.keep-app-add-note button:hover{
  cursor: pointer;
}

.keep-button-choice{
  font-weight: bolder;
}

.keep-app-add-note textarea{
  width: 50%;
}


/* model */
.keep-modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .4s ease;
  }

  .keep-cls-modal-close-btn {
    border: none;
    padding: 7px;
  }
  .keep-modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .keep-modal-container {
    padding: 10px 20px 5px 40px ;
    background-color: #C1D3FE;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .2s ease;
    margin: 0em;
    width: 15em;
    height: 25em;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .keep-modal-container button{
    outline: #171A21 1px solid;
    font-size: 1.5em;
    border: none;
    box-sizing: border-box;
  }

  .keep-cls-modal-close-btn {
    float: right;
  }

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

.keep-color-pallete-container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1em;
}

.keep-color-pallete-container *{
  
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  border: 1px black solid;
  gap: 0.5em;
}

.keep-color-pallete-container *:hover{
  cursor: pointer;
}

.keep-green-dot{
  background-color: #90ee90;
}
.keep-pink-dot{
  background-color: #ffc0cb;
}
.keep-lightBlue-dot{
  background-color: #e0ffff;
}
.keep-yellow-dot{
  background-color: #ffffe0;
}
.keep-purple-dot{
  background-color: #dda0dd;
}