.keep-note-filter {
    border-bottom: 0.05em solid #171a2116;
    padding: 0 0 1em 0.5em;
    margin-bottom: 1em;
}

.keep-note-filter *{
    padding: 0;
}

.keep-note-filter label {
    font-weight: bold;
    margin-right: 0.2em;
}

#keep-note-title, #keep-type-filter {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 1em;
    border-radius: 5px;
}

#keep-type-filter:hover{
    cursor: pointer;
}