.keep-app-notes-list-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    grid-auto-rows: auto;
    padding: 1em;
}

.keep-app-list-note img{
    width: 30%
}

.keep-note-pin{
    background-color:rgba(0, 128, 0, 0.484);
}

.keep-note-not-pin{
    background-color:rgba(255, 0, 0, 0.446);
}