
@media only screen and (max-width: 430px) {
    .keep-app-notes-list-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 640px) and (min-width: 430px) {
    .keep-app-notes-list-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (min-width: 641px) {
    .keep-app-notes-list-container{
        display: grid;
        grid-template-columns: repeat(3,33%);
        gap: 10px;
        grid-auto-rows: auto;
        padding: 1em;
    }
}

.keep-app-notes-list-container{
    gap: 10px;
    grid-auto-rows: auto;
    padding: 1em;
}

.keep-app-list-note img{
    width: 30%
}

.pinned{
    background-color: rgba(82, 148, 82, 0.45);
}

.not-pinned{
    background-color: rgba(220, 20, 60, 0.450);
}