@import './apps/keep/add-note.css';
@import './apps/keep/notes-list-style.css';
@import './apps/keep/note-preview-style.css';

.keep-app-main-page{
    background-color: #E2EAFC;
    color: #171A21;
    border: 1px solid #171a2141;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 95%;
    margin: 1em auto 0 auto;
}

.keep-app-main-page *{
    margin: 0;
}

/* .center-main-keep{
    margin: 0 auto;
} */

.keep-header{
    text-transform: capitalize;
    margin: 1em 0 1em 0.5em;
    display: flex;
}
.keep-header img{
    width: 2em;
    margin-right: 0.5em;
}